<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">   
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span id="title">User Post Management System</span>
    </mat-toolbar>

    <app-autocomplete (searchEvent)="handleSearch($event)"></app-autocomplete>
    <button mat-icon-button class="add-user-button" (click)="openAddUserModal()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
